
header{
    position: sticky;
    top: 0;
    background-color: #0004ff;
    height: 70px;
    z-index: 10;
}

.logo{
    width: 100px;
    height: 70px;
    margin-right: 0px;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    margin: 0;
} 
li{
    display: inline;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    margin-top: 18px;
    justify-content: space-between;
}
#carritoCompra{
    width: 35px;
    height: 35px;
}
/************************** Termina el Header (buscador) ******************************/

#imagenes-banner{
    width: 100%;
    height: 550px;
}

/************************** Contenedores de las Fiestas y Conciertos ********************/

.container-fiestas{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 5px ;
    margin-top: 70px;
}
.container-conciertos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 5px ;
    margin-top: 70px;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    text-align:left;
    text-overflow: ellipsis;
}
.imagenes-fiestas{
    width: 100%;
    height: 250px;
    margin: 0;
}

/*********************** Decoración del texto y cuando pasas por arriba ***************************/


body{
    background-color: beige;
    margin: 0px;
    padding: 0px;
}
.card-body{
    width: 100%;
}
th{
    font-size: 30px;
    font-weight: bold;
    color: #ff7500;

}
td{
    font-size: 15px;
    font-weight: bold;

}
h2{
    text-align: center;
    font-weight: bold;
}
h4{
    text-align: center;
    font-weight: bold;
    padding: 22px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.letra{
    color: #ff7500;
    background-color: #0004ff;
}
.letra:hover{
    color: white;
}
a{
    text-decoration: none;
    color: #0004ff;
}
a:hover{
    color: #ff7500;
    text-decoration: none;
}
.comprar{
    background-color: #ff7500;
    color:#0004ff;
    font-weight: bold;
    text-align: center;
}
.comprar:hover{
    background-color:#0004ff;
    color:#ff7500;
    font-size: 17px;
    font-weight: bold;
}
.card{
    background-color: beige;
}
.list-group-item{
    background-color: beige;
}
.card-img-top{
    width: 100%;
    height: 450px;
}

/************************************** Parte final de Contacto y redes ********************************/

footer{
    margin-top: 70px;
    background-color: beige;
    height: 120px;
    width: 100%;
    justify-content: center;
}
.imagenes-redes{
    padding: 5px;
    padding-top: 10px;
    width: 80px;
    height: 80px;
    gap: 30px;
    justify-content: center;
}
#Contacto{
    justify-content: center;
}
/************************************** Adaptación para Telefono y Tablet ********************************/

@media only screen and (max-width: 768px) {
    body {
      background-color: beige;
    }
    .container-fiestas{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container-conciertos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .comprar:hover{
        background-color: #0004ff;
        color: #ff7500;
        font-size: 17px;
        font-weight: bold;
    }
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    li{
        margin: 10px;
        display:list-item;
        margin-top: 30px;
        text-align: center;
    }
    footer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
  }

@media only screen and (max-width: 600px) {
    body{
        background-color: beige;
    }
    .container-fiestas{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .container-conciertos{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .comprar:hover{
        background-color: #0004ff;
        color: #ff7500;
        font-size: 17px;
        font-weight: bold;
    }
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    li{
        margin: 10px;
        margin-top: 30px;
        text-align: center;
    }
    footer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo{
        width: 100px;
    }
}

h5{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}



  